div.coelho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 0em;
}

form {
    background-color: rgb(250, 186, 186);
    opacity: 1;
    border-color: 1px solid rgb(233, 106, 106);
    width: 350px;
}