div.coelho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 0em;
}

form {
    border: none;
    background-color: #ffffff;
    opacity: 1;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
h2.cont{
    text-shadow: none;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: rgb(102, 56, 34);
}
