div.insta{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: end;
    margin-top: 1em;
    margin-left: 1em;
}
h3.texto{
    background-color: rgb(255, 255, 255, 0.4);
    color:#4E2F2F;
    font-weight: 400;
}