@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
h1{
  color: white;
   text-shadow: rgb(150, 33, 33) 0.1em 0.1em 0.1em;
   font-size: 60px;
   font-family: Sofia, cursive;
   font-weight: 400;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}
h2{color: white;
   text-shadow: rgb(150, 33, 33) 0.1em 0.1em 0.2em;
   font-size: 45px;
   margin-top: 0em;
   font-family: Sofia,cursive;
   font-weight: 300;
  }
body {
    background-image: url("assets/fundo.png");
    background-size: cover;
    background-repeat: repeat;
  }
.menu {
  font-size: 15px;
  background-color: rgb(238, 175, 175);
  position: fixed;
  top: 0%;
  width: 100%;
  margin-top: 0em;
}
.menu ul{
  display: flex;
  flex-direction:row;
  justify-content:space-around;
}
.menu li{
  list-style: none;
}
a{
	text-decoration: none;
  color: rgba(255, 255, 255, .9);
}
a:visited{
    display: block;
    content: '';
    clear: both;
  }
a:hover{
  display: block;
	background-color: rgba(233, 127, 127, 0.9);
  text-decoration: none;
  border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
}
div{
  max-width: 400px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  margin-top: 20em;
}
div.insta{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: end;
  margin-top: 1em;
  margin-left: 1em;
}
.curso{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  font-size: 30px;
}
.email{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}