h2 {
  background-color: rgb(238, 175, 175);
  opacity: 1;
}
h1{color: white; text-shadow: rgb(150, 33, 33) 0.1em 0.1em 0.2em}
body {
    background: LavenderBlush;
    background-image: url("rosa.jpg");
    background-repeat: no-repeat;
    background-size: auto;
  }
  
.menu {
  background: rgb(238, 175, 175);
}
.menu ul{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}
.menu li{
  list-style: none;
}
a{
  text-decoration: none;
  color:rgb(255, 255, 255)
}
a:visited{
  text-decoration: dotted;
}
a:hover{
  text-decoration: underline;
}

h2 {
  border: 1px solid rgb(233, 106, 106);
  padding: 10px;
  box-shadow: 5px 10px rgb(233, 106, 106);
}
body, h1, h2 {
  font-family: Sofia, serif;
  font-weight: 300;
}
div{
  max-width: 400px;
}
.topnav a:hover {
  color: rgb(255, 255, 255);
}
.topnav input[type=text] {
  float: right;
  padding: 5px;
  border: none;
  margin-top: -30px;
  margin-right: 20px;
  font-size: 10px;
  flex-direction: row;
  position: relative;
}
.topnav input[type=text] {
  color: #570a0a;
  border: 1px solid rgb(233, 106, 106);
  background-color: rgb(255, 236, 236);
}
