h2 {
  background-color: rgb(238, 175, 175);
  opacity: 1;
}
h1{color: white; text-shadow: rgb(150, 33, 33) 0.1em 0.1em 0.2em}
body {
    background: LavenderBlush;
    background-image: url("rosa.jpg");
    background-repeat: no repeat;
    background-size: auto;
  }
  
.menu {
  background: rgb(238, 175, 175);
}

.menu ul{
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
}
.menu li{
  list-style: none;
}
a{
  text-decoration: none;
  color:rgb(255, 255, 255)
}
a:visited{
  text-decoration: dotted;
}
a:hover{
  text-decoration: underline;
}

h2 {
  /*border-block: 4px double rgb(95, 48, 36);
  border-inline: 4px double rgb(95, 48, 36);*/
  border: 1px solid rgb(233, 106, 106);
  padding: 10px;
  box-shadow: 5px 10px rgb(233, 106, 106);
}
.sofia-regular {
  font-family: "Sofia", cursive;
  font-weight: 400;
  font-style: normal;
}


